# Environment: Development | UAT | Production
ENVIRONMENT=Development

SQL_PASSWORD=Test1234!@#

# JWT Settings
JWT_SECRET_KEY=YourSuperSecretKeyThatIsAtLeast256BitsLongForHMACSHA256Algorithm

# Seq Logging
SEQ_URL=http://localhost:5341